.footer{
    background-color: brown;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.socialMedia svg{
    cursor: pointer;
    color: white;
    font-size: 70px;
    margin: 20px;
}

.footer p{
    color: white;

}